# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store
.DS_Store?

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Temp Files by Vim
*~
*.swp
*.swo

# Dev Env
.idea/

# Custom Workflow Files
Astro/
Cross_Correlation/

# Shell Scripts
*.sh

# Config file and data container for PF
graphs/
performance_data/
memory/
config.json
